image: webhippie/minecraft-forge:11.14.4
manifests:
  -
    image: webhippie/minecraft-forge:11.14.4-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/minecraft-forge:11.14.4-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
