image: webhippie/minecraft-forge:14.23.5
manifests:
  -
    image: webhippie/minecraft-forge:14.23.5-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/minecraft-forge:14.23.5-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
