image: webhippie/minecraft-forge:25.0
manifests:
  -
    image: webhippie/minecraft-forge:25.0-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/minecraft-forge:25.0-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
