image: webhippie/minecraft-forge:11.14.2
manifests:
  -
    image: webhippie/minecraft-forge:11.14.2-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/minecraft-forge:11.14.2-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
