image: webhippie/minecraft-forge:28.0.107
manifests:
  -
    image: webhippie/minecraft-forge:28.0.107-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/minecraft-forge:28.0.107-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
