image: webhippie/minecraft-forge:31.0.14
manifests:
  -
    image: webhippie/minecraft-forge:31.0.14-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/minecraft-forge:31.0.14-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
