---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: v44.1

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

"on":
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - v44.1/*
      - .github/workflows/v44.1.yml
  pull_request:
    branches:
      - master
    paths:
      - v44.1/*
      - .github/workflows/v44.1.yml

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        variant:
          - arch: amd64
            platform: linux/amd64
          - arch: arm64
            platform: linux/arm64

    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          images: |
            webhippie/minecraft-forge
            quay.io/webhippie/minecraft-forge
            ghcr.io/dockhippie/minecraft-forge
          labels: |
            org.opencontainers.image.vendor=Webhippie
            maintainer=Thomas Boerger <thomas@webhippie.de>

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Setup Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Hub login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        if: github.event_name != 'pull_request'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Quay login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        if: github.event_name != 'pull_request'
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Ghcr login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: v44.1/
          provenance: false
          file: v44.1/Dockerfile.${{ matrix.variant.arch }}
          platforms: ${{ matrix.variant.platform }}
          push: ${{ github.event_name != 'pull_request' }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            webhippie/minecraft-forge:44.1-${{ matrix.variant.arch }}
            quay.io/webhippie/minecraft-forge:44.1-${{ matrix.variant.arch }}
            ghcr.io/dockhippie/minecraft-forge:44.1-${{ matrix.variant.arch }}

  manifest:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'

    needs:
      - docker

    steps:
      - name: Wait something
        run: sleep 60

      - name: Hub manifest
        uses: actionhippie/manifest@f1b9778cbe1f3af13fcb3ce7e5cf8b46ef7bfa1b # v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          platforms: linux/amd64,linux/arm64
          template: webhippie/minecraft-forge:44.1-ARCH
          target: webhippie/minecraft-forge:44.1
          ignore_missing: true

      - name: Quay manifest
        uses: actionhippie/manifest@f1b9778cbe1f3af13fcb3ce7e5cf8b46ef7bfa1b # v1
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          platforms: linux/amd64,linux/arm64
          template: quay.io/webhippie/minecraft-forge:44.1-ARCH
          target: quay.io/webhippie/minecraft-forge:44.1
          ignore_missing: true

      - name: Ghcr manifest
        uses: actionhippie/manifest@f1b9778cbe1f3af13fcb3ce7e5cf8b46ef7bfa1b # v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          platforms: linux/amd64,linux/arm64
          template: ghcr.io/dockhippie/minecraft-forge:44.1-ARCH
          target: ghcr.io/dockhippie/minecraft-forge:44.1
          ignore_missing: true

...
